---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "@layout/Layout.astro";
import GradientBorderTag from "@component/GradientBorderTag.astro";
import Main from "@component/ui/Main.astro";
import Title from "@component/ui/Title.astro";

interface Props {
	entry: CollectionEntry<"work">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
	const work = await getCollection("work");
	return work.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
	<div class="my-48 md:my-64 xl:my-96">
		<div class="absolute left-0 top-16">
			<a
				class="hover:shadow-outline rounded border border-lt-indigo-border p-1.5 text-lt-indigo-high-contrast-text hover:bg-lt-indigo-interactive-component/[.1] dark:border-dt-teal-border dark:text-dt-teal-high-contrast-text dark:hover:bg-dt-teal-interactive-component/[.1] sm:p-2"
				href="/#projects"
				data-astro-reload>Back</a
			>
		</div>
		<header class="flex flex-col gap-6">
			{
				entry.data.img && (
					<img
						src={entry.data.img}
						alt={entry.data.img_alt || ""}
						class="absolute left-1/2 top-0 h-48 w-1/2
						 -translate-x-1/2 rounded-b-3xl  object-cover md:h-64 xl:h-96"
					/>
				)
			}

			<Title
				level="1"
				class="dark:dt-teal-high-contrast-text pb-4 pt-16 text-center font-sans"
			>
				<span class="text-title">Project</span>
				<br />
				{entry.data.title}
			</Title>
			<ul class="flex flex-row flex-nowrap justify-center gap-4">
				{
					entry.data.tags.map((tag) => (
						<li>
							<GradientBorderTag>{tag}</GradientBorderTag>
						</li>
					))
				}
			</ul>
			<div class="flex flex-nowrap items-center justify-between gap-4">
				<p>{entry.data.description}</p>
			</div>
		</header>

		<Main>
			<div class="py-12">
				<Content />
			</div>
		</Main>
	</div>
</Layout>
